README.md
.gradle
build/
**/build/
**/bin/
!gradle/wrapper/gradle-wrapper.jar
record-controlled-work-api/generated
record-controlled-work-api/bin
record-controlled-work-service/bin
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
.vscode/
.env
.env.*
