# 1Password is used to store sensitive secrets that might be needed locally.
# ALL SECRETS MUST BE MIRRORED IN DOCKER COMPOSE FILE.
#
# One password environment variables are injected when you run
# `op run --env-file=.env -- `, followed by a command which uses .env
#
# https://developer.1password.com/docs/cli/secret-reference-syntax

GITHUB_TOKEN="op://Employee/Github/PAT_TOKEN"
ENTRA_TENANT_ID="op://LAA Record Controlled Work/RCW-API/ENTRA_TENANT_ID"
ENTRA_API_AUDIENCE=https://devlexternal.onmicrosoft.com/laa-record-controlled-work-api-uat